@font-face {
  font-family: 'picsart-font';
  src: url("../fonts/3263d13acc8fd869ef9af1677bb0d1dd.eot");
  src: url("../fonts/3263d13acc8fd869ef9af1677bb0d1dd.eot?#iefix") format("embedded-opentype"), url("../fonts/3263d13acc8fd869ef9af1677bb0d1dd.woff2") format("woff2"), url("../fonts/3263d13acc8fd869ef9af1677bb0d1dd.woff") format("woff"), url("../fonts/3263d13acc8fd869ef9af1677bb0d1dd.ttf") format("truetype"), url("../fonts/3263d13acc8fd869ef9af1677bb0d1dd.svg#.") format("svg");
  font-weight: normal;
  font-display: swap; }

@font-face {
  font-family: 'picsart-font-light';
  src: url("../fonts/f2fee189c71eb32eed0c66b80d6f4a49.eot");
  src: url("../fonts/f2fee189c71eb32eed0c66b80d6f4a49.eot?#iefix") format("embedded-opentype"), url("../fonts/f2fee189c71eb32eed0c66b80d6f4a49.woff2") format("woff2"), url("../fonts/f2fee189c71eb32eed0c66b80d6f4a49.woff") format("woff"), url("../fonts/f2fee189c71eb32eed0c66b80d6f4a49.ttf") format("truetype"), url("../fonts/f2fee189c71eb32eed0c66b80d6f4a49.svg#.") format("svg");
  font-weight: normal;
  font-display: swap; }

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

body {
  font-family: "picsart-font", sans-serif;
  font-size: 14px;
  color: #222; }

a {
  text-decoration: none;
  color: #222; }

img {
  display: block;
  max-width: 100%; }

svg {
  height: 100%;
  width: 100%;
  fill: none; }

::selection {
  color: #fff;
  background: #C209C1; }

.container {
  max-width: 1320px;
  margin: 0 auto; }
  @media (max-width: 1365px) {
    .container {
      padding: 0 44px;
      max-width: 100%; } }
  @media (max-width: 768px) {
    .container {
      padding: 0 24px;
      max-width: 100%; } }

.button {
  cursor: pointer;
  padding: 4px 15px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none; }
  .button i {
    display: inline-block;
    height: 16px; }
  .button.primary-button {
    background-color: #C209C1;
    color: #fff; }
    .button.primary-button svg {
      fill: #fff; }
  .button.secondary-button {
    background-color: #fff;
    color: #C209C1;
    border: 1px solid #ccc; }
  .button.button-rounded {
    height: 32px;
    width: 32px;
    border-radius: 32px;
    padding: 7px;
    background-color: #EDEEF4; }

.tag-item {
  display: inline-block;
  padding: 10px;
  border: 1px solid #7B33F1;
  margin: 4px 4px;
  font-family: "picsart-font-light", sans-serif;
  border-radius: 6px;
  transition: all 0.2s ease-in-out; }
  .tag-item:hover {
    color: #fff;
    background-color: #7B33F1; }

.header {
  padding: 20px 0;
  border-bottom: solid 1px #f2f2f2; }
  .header .container {
    display: flex;
    align-items: center; }
  .header .header-nav {
    margin-left: 50px;
    display: flex; }
    @media (max-width: 992px) {
      .header .header-nav {
        display: none; } }
  .header .header-nav__item {
    padding: 10px 12px;
    text-decoration: none;
    color: #535771;
    font-size: 14px;
    border-radius: 6px; }
    .header .header-nav__item.active {
      color: #fff;
      background-color: #282B36; }
  .header .header-profile {
    margin-left: auto; }

.content {
  padding-top: 25px; }

.content__search-box {
  position: relative; }
  .content__search-box .search-ico {
    position: absolute;
    top: 18px;
    left: 20px; }
  .content__search-box input {
    border: 1px solid #DCDDE9;
    font-family: "picsart-font-light", sans-serif;
    font-size: 16px;
    color: #222;
    width: 100%;
    padding: 20px 20px 20px 60px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out; }
    .content__search-box input:focus {
      outline: none;
      border-color: #C209C1; }

.content__title {
  font-family: "picsart-font-light", sans-serif;
  font-weight: 400;
  margin-top: 24px; }
  .content__title h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
    color: #222;
    margin: 0; }
    @media (max-width: 768px) {
      .content__title h1 {
        display: block; } }
  .content__title p {
    color: #888;
    margin-top: 8px;
    margin-bottom: 0; }
  .content__title .title-action__container {
    width: 100%;
    display: inline-flex;
    flex: 1;
    margin-left: 8px;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .content__title .title-action__container {
        margin-left: 0; } }

.content__tags {
  margin: 0 -4px; }

.filter-panel {
  display: flex;
  margin: 10px 0 10px;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .filter-panel {
      flex-direction: column;
      justify-content: flex-start; } }
  @media (max-width: 768px) {
    .filter-panel .filter-panel__left,
    .filter-panel .filter-panel__right {
      margin: 8px 0; } }
  .filter-panel .filter-label {
    color: #888; }
  .filter-panel .filter-item {
    position: relative;
    text-transform: uppercase;
    margin: 0 4px;
    line-height: 20px; }
    .filter-panel .filter-item.active {
      color: #C209C1;
      display: inline-flex;
      justify-content: center; }
      .filter-panel .filter-item.active:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 22px;
        background-color: #C209C1; }

.grid-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px; }
  @media (max-width: 1365px) {
    .grid-list {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 992px) {
    .grid-list {
      grid-template-columns: repeat(2, 1fr); } }

.picture-card {
  position: relative;
  cursor: pointer; }
  .picture-card:hover .picture-card__overlay {
    opacity: 1; }
  .picture-card .picture-card__overlay {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out; }
  .picture-card .picture-card-link {
    display: block; }
  .picture-card .picture-card__action {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3; }
    .picture-card .picture-card__action:hover svg {
      fill: #C209C1; }
    .picture-card .picture-card__action svg {
      fill: #fff;
      transition: all 0.2s ease-in-out; }
  .picture-card .picture-card__tag {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px; }
  .picture-card .picture-card__like-ico {
    display: block;
    margin: 0 auto;
    align-self: flex-end; }
    .picture-card .picture-card__like-ico:hover svg {
      fill: #C209C1; }
    .picture-card .picture-card__like-ico svg {
      fill: #fff;
      transition: all 0.2s ease-in-out; }

.content-loadmore {
  margin: 65px 0;
  display: flex;
  justify-content: center; }

.footer {
  font-family: "picsart-font-light", sans-serif;
  color: rgba(255, 255, 255, 0.7); }

.footer-top {
  padding: 44px 0 56px 0;
  background-color: #282B36; }
  .footer-top .footer-top-wrapper {
    display: grid;
    grid-template-columns: 480px 1fr 1fr 1fr;
    grid-column-gap: 24px; }
    @media (max-width: 1365px) {
      .footer-top .footer-top-wrapper {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 768px) {
      .footer-top .footer-top-wrapper {
        grid-template-columns: repeat(1, 1fr); } }
  .footer-top .footer-top__column {
    margin: 0 -4px; }
    @media (max-width: 768px) {
      .footer-top .footer-top__column {
        margin-bottom: 30px; } }
    .footer-top .footer-top__column h5 {
      color: #fff;
      margin: 0px 4px 15px;
      text-transform: uppercase;
      font-size: 14px; }
    .footer-top .footer-top__column a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      margin: 6px 4px;
      transition: all 0.2s ease-in-out; }
      .footer-top .footer-top__column a:hover {
        color: #fff; }
  .footer-top a.footer-logo {
    height: 16px;
    margin-bottom: 30px;
    opacity: 0.6; }
    .footer-top a.footer-logo svg, .footer-top a.footer-logo path {
      fill: #fff; }

.footer-bottom {
  font-size: 12px;
  padding: 24px 0;
  background-color: #1E2129; }
  .footer-bottom .footer-bottom__navbar {
    margin: 0 -10px; }
    .footer-bottom .footer-bottom__navbar a {
      color: rgba(255, 255, 255, 0.7);
      margin: 0 10px;
      transition: all 0.2s ease-in-out; }
      .footer-bottom .footer-bottom__navbar a:hover {
        color: #fff; }
  .footer-bottom .footer-bottom__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .footer-bottom .footer-bottom__wrapper {
        flex-direction: column; } }
  .footer-bottom .footer-bottom__navbar-socialmedia {
    display: flex;
    margin: 0 -5px; }
    @media (max-width: 768px) {
      .footer-bottom .footer-bottom__navbar-socialmedia {
        margin: 15px 0; } }
    .footer-bottom .footer-bottom__navbar-socialmedia a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3px;
      width: 24px;
      height: 24px;
      margin: 0 5px;
      border-radius: 24px;
      background-color: rgba(255, 255, 255, 0.1); }
    .footer-bottom .footer-bottom__navbar-socialmedia svg, .footer-bottom .footer-bottom__navbar-socialmedia path {
      fill: #fff; }
