@font-face {
  font-family: 'picsart-font';
  src: url('../fonts/3263d13acc8fd869ef9af1677bb0d1dd.eot');
  src: url('../fonts/3263d13acc8fd869ef9af1677bb0d1dd.eot?#iefix') format('embedded-opentype'),
      url('../fonts/3263d13acc8fd869ef9af1677bb0d1dd.woff2') format('woff2'),
      url('../fonts/3263d13acc8fd869ef9af1677bb0d1dd.woff') format('woff'),
      url('../fonts/3263d13acc8fd869ef9af1677bb0d1dd.ttf') format('truetype'),
      url('../fonts/3263d13acc8fd869ef9af1677bb0d1dd.svg#.') format('svg');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'picsart-font-light';
  src: url('../fonts/f2fee189c71eb32eed0c66b80d6f4a49.eot');
  src: url('../fonts/f2fee189c71eb32eed0c66b80d6f4a49.eot?#iefix') format('embedded-opentype'),
      url('../fonts/f2fee189c71eb32eed0c66b80d6f4a49.woff2') format('woff2'),
      url('../fonts/f2fee189c71eb32eed0c66b80d6f4a49.woff') format('woff'),
      url('../fonts/f2fee189c71eb32eed0c66b80d6f4a49.ttf') format('truetype'),
      url('../fonts/f2fee189c71eb32eed0c66b80d6f4a49.svg#.') format('svg');
  font-weight: normal;
  font-display: swap;
}

