//Color variables
$primary-color: #C209C1;
$secondary-color: #7B33F1;

$teritiary-color: #535771;
$teritiary-color-variant1: #282B36;
$teritiary-color-variant2: #1E2129;
$teritiary-color-dark: #222;
$teritiary-color-light: #888;
$teritiary-color-lighter-variant1: #EDEEF4;
$teritiary-color-lighter-variant2: #ccc;
$teritiary-color-extra-light: #f2f2f2;

$white: #fff;
$black: #000;

//Font variables
$font-regular: 'picsart-font', sans-serif;
$font-regular-light: 'picsart-font-light', sans-serif;

//Mediaquery breakpoint variables
$screen-large: 1365px;
$screen-medium: 992px;
$screen-small: 768px;
$screen-extra-small: 480px;